<div class="container">
  <div class="form1s row d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 py-2">
        <h1>Administrator</h1>
      {{! Error message here }}
      <form action="/admin/login" method="post">
        <div class="form-row d-flex justify-content-center">
          <div class="col-lg-10 py-3">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control"
              id=""
            />
          </div>
        </div>
        <div class="form-row d-flex justify-content-center">
          <div class="col-lg-10 py-3">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              id=""
            />
          </div>
        </div>

        <div class="form-row d-flex justify-content-center mb-4">
            <div class="col-lg-10 py-3 mb-4">
              
                <button type="submit" class="btn-01"> Submit </button>
            </div>
        </div>
      </form>
      <div class="text-center">
          <small >User Login?<a href="/"> Click here</a> </small>
      </div>
    </div>
  </div>
</div>