html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(252, 252, 252) !important;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form1s {
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    width: 50%;
}
.form1s h1 {
  margin-top: 2%;
  text-align: center;
}
.btn-01{
  border: none;
  width: 100%;
  font-size: 14px;
  padding: 15px 50px;
  letter-spacing: 1.6px;
  font-weight: bold;  color: #FFFFFF; 
	background-color: #FF4B2B;
  border-radius: 20px;
  text-transform: uppercase;
}


.btn-01:hover {
  background-color: transparent;
	border-color: #FFFFFF;
  color: #000;
  border: 1px solid #FF4B2B;
}

label.error {
  width: 100%;
  font-size: smaller;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding:1px 20px 1px 20px;
}

thead {
  text-align: center;
}
.view-btn {
  padding: 2px 4px;
  border-radius: 5px;
  background-color: #4576a3;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.675rem;
  transition: all 100ms ease-in;
}
.view-btn:hover {
  text-decoration: none;
  color: #ffff;
  background-color: #365f86;
}
/* User Profile */
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}