<div class="container">
  <div class="form1s row d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 py-2">
      {{! Logo }}
      <h1>Sign Up</h1>
      {{! Error message here }}
      <form  method="POST" id="form2">
        <div class="form-row d-flex justify-content-center">
          <div class="col-lg-10 py-3">
            <input
              type="text"
              name="name"
              placeholder="Full Name"
              class="form-control"
              id=""
            />
          </div>
        </div>
                <div class="form-row d-flex justify-content-center">
          <div class="col-lg-10 py-3">
            <input
              type="text"
              name="email"
              placeholder="Email"
              class="form-control"
              id=""
            />
          </div>
        </div>
        <div class="form-row d-flex justify-content-center">
          <div class="col-lg-10 py-3">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              id="password"
            />
          </div>
        </div>
                <div class="form-row d-flex justify-content-center">
          <div class="col-lg-10 py-3">
            <input
            id="password2"
              type="password"
              placeholder="ReType Password"
              class="form-control"
            />
          </div>
        </div>
         <input type="hidden" name="age" value="">
          <input type="hidden" name="gender" value="">
         <input type="hidden" name="phone" value="">
          <input type="hidden" name="address" value="">
          <input type="hidden" name="isBlocked" value="">
          

        <div class="form-row d-flex justify-content-center mb-4">
            <div class="col-lg-10 py-3 mb-4">
                <button type="submit" class="btn-01"> Sign up </button>
            </div>
        </div>
      </form>
    </div>
 <div class="form-row d-flex justify-content-end  pt-1 mb-4">
        <p>Already  have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>